[submodule "TP1"]
	path = TP1
	url = C:\\Users\\Franck\\Documents\\PolyMtl\\Hiver_17\\LOG8430\\TP-global\\TP1
[submodule "TP2"]
	path = TP2
	url = C:\\Users\\Franck\\Documents\\PolyMtl\\Hiver_17\\LOG8430\\TP-global\\TP2
[submodule "TP3"]
	path = TP3
	url = C:\\Users\\Franck\\Documents\\PolyMtl\\Hiver_17\\LOG8430\\TP-global\\TP3
