[submodule "TP1"]
	path = TP1
url=https://git.overleaf.com/7913872bbqnpchkrgsx
[submodule "TP2"]
	path = TP2
url=https://git.overleaf.com/8426074rprrvykkqfyd
[submodule "TP3"]
	path = TP3
url=https://git.overleaf.com/8983840pzpfrbrkhccm